.jcc-zh-icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 25px;
  height: 17px;
  background-size: 100%;
  background-image: url('../../images/zh.png');
}

.jcc-en-icon {
  display: inline-block;
  background-repeat: no-repeat;
  width: 25px;
  height: 17px;
  background-size: 100%;
  background-image: url('../../images/en.png');
}
